# Money Ball - Basic EDA & Modeling(Logistic)

### 2주차 과제는 Money Ball Data Analysis입니다. 
### 우리가 Binary Classification하고자 하는 변수는 play-off입니다.
### Money Ball Data Set을 분석하고 어느 팀이 play-off에 진출하는지 
### Logistic Regression방법을 통해 분석합니다.
_How does a team make the playoffs?_

_How does a team win more games?_

_How does a team score more runs?_

- 머니볼과 빅데이터
- http://writting.co.kr/2015/04/%EB%A8%B8%EB%8B%88%EB%B3%BC-%EA%B7%B8%EB%A6%AC%EA%B3%A0-%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0/

- _이번 과제를 통해 우리는 어떤 팀이  play-off(가을야구)에 진출하는지 로지스틱 모델을 통해 분석합니다._
+ _Ipython 파일의 빈 부분을 채워주세요._
+ _하나하나 천천히 따라와 주세요._ 

+ _W(Wins) Feature를 제외한 Feature들 중에서 가을야구 진출에 가장 영향을 많이 주는 Feature는 무엇일까요?_
+ _통념이 만연하던 야구의 편견을 깬 Money Ball은 과연 무엇일까요?_

### What is Money Ball?
- Billy Bean & DePodesta's Story.

In the early 2000s, Billy Beane and Paul DePodesta worked for the Oakland Athletics. While there, they literally changed the game of baseball. They didn't do it using a bat or glove, and they certainly didn't do it by throwing money at the issue; in fact, money was the issue. They didn't have enough of it, but they were still expected to keep up with teams that had much deeper pockets. This is where Statistics came riding down the hillside on a white horse to save the day. This data set contains some of the information that was available to Beane and DePodesta in the early 2000s, and it can be used to better understand their methods.

# 1. Import Library

- 앞으로 데이터 분석 및 모델링을 함에 있어서 첫 스텝은 필요한 Library를 불러오는 것입니다.

In [1]:
# python library import

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
print(os.listdir("./"))

['.DS_Store', '1. Sigmoid_Fuction_Overview.ipynb', '3. Logistic_regression_with_sklearn.ipynb', 'Moneyball_Explanation.ipynb', 'baseball.csv', 'sklearn_logistic.ipynb', 'Week2_Logistic_Regression_fin.pdf', 'MoneyBall_EDA_Logistic_Help.ipynb', '2. Logistic_regression_with_numpy.ipynb', '.ipynb_checkpoints', 'Logistic과제공지.pdf']

In [2]:
from sklearn.linear_model import LogisticRegression # sklearn을 사용하여 Logistic 회귀분석을 할 경우 필요
import matplotlib.pyplot as plt # 시각화를 위한 library
import warnings
warnings.filterwarnings('ignore')

## Jupyter Notebook 이나 ipython 을 사용하다보면 향후 버전이 올라갈 때 변경될 사항 등을 알려주는 경고 메시지(warning message)가 거슬릴 때가 있습니다.
## 출처: https://rfriend.tistory.com/346 [R, Python 분석과 프로그래밍 (by R Friend)]

# 2. Load Data & Data Exploration

* dataset 불러오기 
* pandas를 이용해서 CSV파일을 불러오세요
* 불러온 데이터를 파악해봅니다

In [3]:
data = pd.read_csv("./baseball.csv")
data.head() # pandas로 data를 불러오면 습관적으로 head()를 찍어봅니다!

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [4]:
# 주어진 데이터 셋이 어떤 데이터인지 한번 쭉 살펴봅니다.

* Tip. 우리가 일반적으로 알고 있는 데이터 셋이 아닐 경우 각각의 Feature(Column, Attribute)가 무엇을 의미하는지 이해할 필요가 있습니다.
**우리는 앞으로 Feature로 통일하겠습니다**
- Data Set에 대한 설명을 참조합니다.
- https://www.kaggle.com/wduckett/moneyball-mlb-stats-19622012

## 2-1. 각각의 데이터가 무엇을 의미하는지 파악하기
    - 이미 알고 있는 내용이라면 건너 뛰셔도 됩니다.
    e.g) Team: Major League Team 이름이구나.
         League: 소속 League를 말하는구나.
         Year: 데이터가 기록된 년도를 의미하는구나.
         Rs: (Runs Scored) 득점 스코어를 의미하는구나
         RA: (Runs Allowed) 실점스코어를 의미하는구나
         W : Wins
         On-Base Percentage (OBP) 베이스 퍼센트
        Slugging Percentage (SLG) 타자의 파워 정도를 나타내는 정도 (1루타 + 2*2루타 + -- + 4*홈런)/ 타수
        Batting Average (BA) 타율
        Playoffs (binary) 결승전
        RankSeason 시즌전체 순위
        RankPlayoffs 결승전 순위
        Games Played (G) 한 게임
        Opponent On-Base Percentage (OOBP) 상대편
        Opponent Slugging Percentage (OSLG)

In [5]:
# 어떤 Feature가 있을까?
data.columns

Index(['Team', 'League', 'Year', 'RS', 'RA', 'W', 'OBP', 'SLG', 'BA',
       'Playoffs', 'RankSeason', 'RankPlayoffs', 'G', 'OOBP', 'OSLG'],
      dtype='object')

In [6]:
# Feature는 몇 개일까?
len(data.columns)

15

* 특정 feature는 종속 변수에 아무런 영향을 주지 않을 수 있습니다. 
* 그런 feature들을 파악하고 제거한다면 우리의 모델은 더욱 정확해 집니다.
* 하지만 마냥 변수를 제거할 수도 없는 노릇입니다. 
* 지난 1주차에 배웠던 EDA와 Preprocessing을 참고하여 데이터를 분석해봅시다.

## Data Exploration

In [7]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# 각종 시각화 패키지 불러오기

In [8]:
# for using Korean font
matplotlib.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus'] = False

In [9]:
data.describe()

,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
count,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,244.000000,244.000000,1232.000000,420.000000,420.000000
mean,1988.957792,715.081981,715.081981,80.904221,0.326331,0.397342,0.259273,0.198052,3.122951,2.717213,161.918831,0.332264,0.419743
std,14.819625,91.534294,93.079933,11.458139,0.015013,0.033267,0.012907,0.398693,1.738349,1.095234,0.624365,0.015295,0.026510
min,1962.000000,463.000000,472.000000,40.000000,0.277000,0.301000,0.214000,0.000000,1.000000,1.000000,158.000000,0.294000,0.346000
25%,1976.750000,652.000000,649.750000,73.000000,0.317000,0.375000,0.251000,0.000000,2.000000,2.000000,162.000000,0.321000,0.401000
50%,1989.000000,711.000000,709.000000,81.000000,0.326000,0.396000,0.260000,0.000000,3.000000,3.000000,162.000000,0.331000,0.419000
75%,2002.000000,775.000000,774.250000,89.000000,0.337000,0.421000,0.268000,0.000000,4.000000,4.000000,162.000000,0.343000,0.438000
max,2012.000000,1009.000000,1103.000000,116.000000,0.373000,0.491000,0.294000,1.000000,8.000000,5.000000,165.000000,0.384000,0.499000

In [10]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 15 columns):
Team            1232 non-null object
League          1232 non-null object
Year            1232 non-null int64
RS              1232 non-null int64
RA              1232 non-null int64
W               1232 non-null int64
OBP             1232 non-null float64
SLG             1232 non-null float64
BA              1232 non-null float64
Playoffs        1232 non-null int64
RankSeason      244 non-null float64
RankPlayoffs    244 non-null float64
G               1232 non-null int64
OOBP            420 non-null float64
OSLG            420 non-null float64
dtypes: float64(7), int64(6), object(2)
memory usage: 144.5+ KB

None

In [11]:
# 1232개의 entries, 15개의 column
# null 값이 있는지 isnull.sum()으로 확인을 해보자.

In [12]:
data.isnull().sum()

Team              0
League            0
Year              0
RS                0
RA                0
W                 0
OBP               0
SLG               0
BA                0
Playoffs          0
RankSeason      988
RankPlayoffs    988
G                 0
OOBP            812
OSLG            812
dtype: int64

In [13]:
# 어떻게 처리할지 생각해보자

## 2-2.  변수 종류 확인하기

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 15 columns):
Team            1232 non-null object
League          1232 non-null object
Year            1232 non-null int64
RS              1232 non-null int64
RA              1232 non-null int64
W               1232 non-null int64
OBP             1232 non-null float64
SLG             1232 non-null float64
BA              1232 non-null float64
Playoffs        1232 non-null int64
RankSeason      244 non-null float64
RankPlayoffs    244 non-null float64
G               1232 non-null int64
OOBP            420 non-null float64
OSLG            420 non-null float64
dtypes: float64(7), int64(6), object(2)
memory usage: 144.5+ KB

###  1) 범주형 변수 확인하기

In [15]:
# categorical variable
categorical_col = list(data.select_dtypes(include='object').columns)
categorical_col

['Team', 'League']

In [16]:
# play-off Feature의 경우 0과 1로 범주형이지만 데이터에는 int type로 저장되어있다.

###  2) 연속형 변수 확인하기

In [17]:
# numerical variable
numerical_col =  list(data.select_dtypes(include=('int64', 'float64')).columns)
numerical_col

['Year',
 'RS',
 'RA',
 'W',
 'OBP',
 'SLG',
 'BA',
 'Playoffs',
 'RankSeason',
 'RankPlayoffs',
 'G',
 'OOBP',
 'OSLG']

In [18]:
len(numerical_col)

13

### 3) 변수 종류 확인
- 2개의 categorical variable(Team, League)와 13개의 numerical variable

###  4) 각각의 변수에 어떤 값이 들어있을까?
- 각 변수별 unique값을 찍어본다.

In [19]:
# for categorical_col

for col in categorical_col:
    print(col + ': ', len(data[str(col)].unique()))

Team:  39
League:  2

In [20]:
# 39개의 팀과 2개의 리그
# 리그는 지난 수십년간 2개였다.

In [21]:
# for numerical_col

for col in numerical_col:
    print(col + ': ', len(set(data[str(col)])))

Year:  47
RS:  374
RA:  381
W:  63
OBP:  87
SLG:  162
BA:  75
Playoffs:  2
RankSeason:  996
RankPlayoffs:  993
G:  8
OOBP:  884
OSLG:  924

In [22]:
# 지난 수십년은 46년이었다.
# Playoffs가 2인 것으로 보아 categorical 변수로 바꿔줘도 무관할 것 같다.
# Q. G(Games Played)는 어떤 값을 가지고 있을까?

In [23]:
data.G.head()

0    162
1    162
2    162
3    162
4    162
Name: G, dtype: int64

In [24]:
# Game 수이다. 한 시즌에 치뤄진 경기수를 나타낸다.

In [25]:
data.G.mean()

161.91883116883116

In [26]:
# 47년간 평균 161.918경기가 치뤄졌다.

# 2. Data Preprocessing

### T1. Column 삭제하기
- W(Wins), 승리 외에 팀의 가을야구 진출에 영향을 많이 미치는 Feature가 알고 싶습니다.
- del or drop을 사용하여 W column을 삭제해주세요

In [27]:
data.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [28]:
del data['W']
data.head()

,Team,League,Year,RS,RA,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [29]:
# W Column을 지워줬다.

### Task2. 인코딩: League
- League Feature는 AL과 NL로 이루어져 있습니다.
- 지난 시간에 배웠던 인코딩 방법을 적용해서 모델이 학습 할 수 있도록 처리해주세요.
- replace()함수를 사용합니다.

In [30]:
set(data.League)

{'AL', 'NL'}

In [31]:
data.League.replace({'AL':0, 'NL':1}, inplace=True)

In [32]:
data.League.head()

0    1
1    1
2    0
3    0
4    1
Name: League, dtype: int64

### Task3. column 삭제하기
- Team column을 삭제해주세요.
- Team column이 없어도 모델에는 큰 영향이 없을 것 같습니다.

In [33]:
data.head()

,Team,League,Year,RS,RA,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,1,2012,734,688,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,1,2012,700,600,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,0,2012,712,705,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,0,2012,734,806,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,1,2012,613,759,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [34]:
del data['Team']
data.head()

,League,Year,RS,RA,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,1,2012,734,688,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,1,2012,700,600,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,0,2012,712,705,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,0,2012,734,806,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,1,2012,613,759,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

### Task4. NaN값 처리하기
- head를 찍어보니 NaN값이 보입니다. 
- NaN값을 처리해 줍니다.

# Q. Null 값을 어떻게 전처리 할 것인가?
- 데이터를 본격적으로 분석 하기 전에 한번 생각해보도록 합니다.

In [35]:
# RankSeason, RankPlayoff(우승 안하면 없음)
# OOBP, OSLG(상대편 정보 없음)
data[~data['RankSeason'].isnull()]['RankSeason'].max()

8.0

In [36]:
# 이산변수 W

In [37]:
data.isnull().sum()

League            0
Year              0
RS                0
RA                0
OBP               0
SLG               0
BA                0
Playoffs          0
RankSeason      988
RankPlayoffs    988
G                 0
OOBP            812
OSLG            812
dtype: int64

In [38]:
# RankSeason, RankPlayoffs, OOBP, OSLG 변수에 Null 값이 있습니다.
# 우리는 위의 변수들에 NaN값을 처리해줄 것입니다.

data.RankSeason.head()

In [39]:
data.RankSeason.head()

0    NaN
1    4.0
2    5.0
3    NaN
4    NaN
Name: RankSeason, dtype: float64

In [40]:
data.RankPlayoffs.head()

0    NaN
1    5.0
2    4.0
3    NaN
4    NaN
Name: RankPlayoffs, dtype: float64

In [41]:
# OOBP는 Opponent On-Base Percentage. 
# OSLG는 Opponent Slugging Percentage.

data.describe()

,League,Year,RS,RA,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
count,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,1232.000000,244.000000,244.000000,1232.000000,420.000000,420.000000
mean,0.500000,1988.957792,715.081981,715.081981,0.326331,0.397342,0.259273,0.198052,3.122951,2.717213,161.918831,0.332264,0.419743
std,0.500203,14.819625,91.534294,93.079933,0.015013,0.033267,0.012907,0.398693,1.738349,1.095234,0.624365,0.015295,0.026510
min,0.000000,1962.000000,463.000000,472.000000,0.277000,0.301000,0.214000,0.000000,1.000000,1.000000,158.000000,0.294000,0.346000
25%,0.000000,1976.750000,652.000000,649.750000,0.317000,0.375000,0.251000,0.000000,2.000000,2.000000,162.000000,0.321000,0.401000
50%,0.500000,1989.000000,711.000000,709.000000,0.326000,0.396000,0.260000,0.000000,3.000000,3.000000,162.000000,0.331000,0.419000
75%,1.000000,2002.000000,775.000000,774.250000,0.337000,0.421000,0.268000,0.000000,4.000000,4.000000,162.000000,0.343000,0.438000
max,1.000000,2012.000000,1009.000000,1103.000000,0.373000,0.491000,0.294000,1.000000,8.000000,5.000000,165.000000,0.384000,0.499000

* OOBP와 OSLG값에 평균 값을 넣어주도록 합니다.
* sklearndml SimpleImputer를 사용합니다.
* 자세한 내용은 https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [42]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean', fill_value=0)
imputer = imputer.fit(data[['OOBP', 'OSLG']])

data[['OOBP', 'OSLG']] = imputer.transform(data[['OOBP', 'OSLG']])

In [43]:
data.OOBP.isnull().sum()

0

In [44]:
data.OSLG.isnull().sum()

0

In [45]:
# 이것도 결과값 중에 하나니까 분석에서 빼는게 좋을 듯

In [46]:
data.RankPlayoffs.isnull().sum()

988

In [47]:
data.RankSeason.isnull().sum()

988

In [48]:
del data['RankPlayoffs']
del data['RankSeason']

In [49]:
data.head()

   League  Year   RS   RA    OBP    SLG     BA  Playoffs    G   OOBP   OSLG
0       1  2012  734  688  0.328  0.418  0.259         0  162  0.317  0.415
1       1  2012  700  600  0.320  0.389  0.247         1  162  0.306  0.378
2       0  2012  712  705  0.311  0.417  0.247         1  162  0.315  0.403
3       0  2012  734  806  0.315  0.415  0.260         0  162  0.331  0.428
4       1  2012  613  759  0.302  0.378  0.240         0  162  0.335  0.424

In [50]:
# 년도 데이터는 분석에 필요하지 않음
del data['Year']

In [51]:
data.head()

   League   RS   RA    OBP    SLG     BA  Playoffs    G   OOBP   OSLG
0       1  734  688  0.328  0.418  0.259         0  162  0.317  0.415
1       1  700  600  0.320  0.389  0.247         1  162  0.306  0.378
2       0  712  705  0.311  0.417  0.247         1  162  0.315  0.403
3       0  734  806  0.315  0.415  0.260         0  162  0.331  0.428
4       1  613  759  0.302  0.378  0.240         0  162  0.335  0.424

# 3. train_test_split

데이터 셋을 독립변수와 종속변수로 나눠준다.varialbe(X) and dependent(y) variable.

In [52]:
y = data['Playoffs']
X = data.drop('Playoffs',axis=1)

splitting the data set as test_set and train_set to make predictions usoing the calssfiers.

In [53]:
X.head()

   League   RS   RA    OBP    SLG     BA    G   OOBP   OSLG
0       1  734  688  0.328  0.418  0.259  162  0.317  0.415
1       1  700  600  0.320  0.389  0.247  162  0.306  0.378
2       0  712  705  0.311  0.417  0.247  162  0.315  0.403
3       0  734  806  0.315  0.415  0.260  162  0.331  0.428
4       1  613  759  0.302  0.378  0.240  162  0.335  0.424

#### Feature G를 삭제해줍니다(값에 의미가  있나 없나? -> 일단 보류해보기) ???

In [54]:
# del X['G'] 
X.head()

   League   RS   RA    OBP    SLG     BA    G   OOBP   OSLG
0       1  734  688  0.328  0.418  0.259  162  0.317  0.415
1       1  700  600  0.320  0.389  0.247  162  0.306  0.378
2       0  712  705  0.311  0.417  0.247  162  0.315  0.403
3       0  734  806  0.315  0.415  0.260  162  0.331  0.428
4       1  613  759  0.302  0.378  0.240  162  0.335  0.424

In [55]:
y

0       0
1       1
2       1
3       0
4       0
5       0
6       1
7       0
8       0
9       1
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      1
19      1
20      0
21      0
22      0
23      0
24      1
25      1
26      0
27      1
28      0
29      1
       ..
1202    1
1203    0
1204    0
1205    0
1206    1
1207    0
1208    0
1209    0
1210    0
1211    0
1212    0
1213    0
1214    0
1215    0
1216    0
1217    0
1218    0
1219    0
1220    0
1221    0
1222    0
1223    0
1224    0
1225    0
1226    1
1227    0
1228    0
1229    1
1230    0
1231    0
Name: Playoffs, Length: 1232, dtype: int64

* Splitting the data set as test_set and train_set to make predictions using the classifiers.

In [56]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Q1. train_tset_split module
* train_test_split() 함수에 들어가는 각각의 인자 값은 무엇을 의미하는가?

- arrays : 학습 데이터와 정답 데이터 array
- test_size : 8:2 비율로 학습:정답 데이터를 나누겠다.
- random_state : random 값이 매번 달라지면 안되니까 고정할 번호

# 4. Feature Scaling

경우에 따라 값이 특정 범위에서 매우 높은 범위로 변환되어 피쳐 스케일링을 사용합니다.

In [57]:
X_train.head()

     League   RS   RA    OBP    SLG     BA    G      OOBP      OSLG
592       1  693  597  0.325  0.399  0.265  162  0.332264  0.419743
406       0  686  845  0.328  0.384  0.264  161  0.342000  0.465000
814       1  675  658  0.311  0.359  0.257  162  0.332264  0.419743
270       0  736  743  0.330  0.413  0.268  162  0.327000  0.421000
254       1  761  684  0.332  0.423  0.262  162  0.323000  0.408000

## # X_train 데이터에 맞추고, X_test도 맞춘 model에 select 한다

In [58]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
# X_train 데이터에 맞추고, X_test도 맞춘 model에 select 한다
X_train_ori = sc_X.fit_transform(X_train)
X_test_ori = sc_X.transform(X_test)
warnings.filterwarnings(action='once')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  import sys

In [59]:
pd.DataFrame(X_train_ori).head()

,0,1,2,3,4,5,6,7,8
0,1.034083,-0.243648,-1.280532,-0.086055,0.037879,0.445041,0.126073,0.011709,0.011647
1,-0.967040,-0.320207,1.396339,0.111071,-0.416760,0.367728,-1.529682,1.088977,2.957264
2,1.034083,-0.440516,-0.622108,-1.005976,-1.174492,-0.173464,0.126073,0.011709,0.011647
3,-0.967040,0.226648,0.295368,0.242488,0.462209,0.676981,0.126073,-0.570790,0.093469
4,1.034083,0.500076,-0.341469,0.373906,0.765302,0.213102,0.126073,-1.013394,-0.752652

## Q2. Scaling
#### Scaling을 통해 우리가 하고자 하는 것은 무엇인가요? 
#### -> 대부분의 데이터가 0~1사이 데이터 인데 RS, RA,G 같은 데이터들은 매우 큰 값을 가진다. 이렇게 되면 Logisitic regression에서 큰 영향력을 가지게 된다. 때문에 std나 mean을 이용해서 normalize 할 필요가 있다. scaling은 이런 작업을 위해 사용한다.

# 5. Modeling

## Q3. LogisticRegression() 모델을 만들어주세요. 그리고 만든 모델 인자값에 들어가는 값들의 의미를 설명해주세요.
- e.g LogisticRegression(random_state=0, solver='', multi_class='')

- **모델 명은 model로 만듭니다**
- random_state : random 값이 매번 달라지면 안되니까 고정할 번호
- solver : 어떤 알고리즘을 사용할 것인가
- For small datasets, ‘liblinear’ is a good choice, whereas ‘sag’ and ‘saga’ are faster for large ones.

- multi_class: multi class일때는 multinomial, binary일때는 ovr

In [60]:
from sklearn.linear_model import LogisticRegression
# LogisticRegression Library를 활용해서 모델을 만들어주세요
model = LogisticRegression(random_state=0, solver='liblinear', multi_class='ovr')
model.fit(X_train_ori,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          n_jobs=None, penalty='l2', random_state=0, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [61]:
# 예측결과 확인하기
model.predict(X_test)

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0])

In [62]:
model.predict_proba(X_test) # 예측 확률 보여줌

array([[0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.07326227e-038],
       [1.00000000e+000, 2.12708631e-039],
       [1.00000000e+000, 1.29761331e-123],
       [1.00000000e+000, 4.17673794e-022],
       [1.00000000e+000, 1.20749729e-065],
       [8.66624220e-001, 1.33375780e-001],
       [1.00000000e+000, 3.05569379e-104],
       [1.00000000e+000, 3.54783397e-217],
       [1.00000000e+000, 1.66584755e-175],
       [1.00000000e+000, 3.57024900e-031],
       [1.00000000e+000, 1.55191604e-207],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 2.74178622e-018],
       [1.00000000e+000, 3.60073727e-035],
       [1.00000000e+000, 8.83164680e-247],
       [1.00000000e+000, 1.29787398e-015],
       [1.00000000e+000, 1.50985263e-039],
       [1.00000000e+000, 4.93593134e-128],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.47028453e-190],
       [1.00000000e+000, 1.67441027e-208],
       [1.00000000e+000, 4.69886866e-095],
       [1.00000000e+000, 1.33353247e-077],
       [1.00000000e+000, 1.88196645e-090],
       [1.00000000e+000, 7.94500250e-062],
       [1.00000000e+000, 8.01136589e-194],
       [1.00000000e+000, 8.11584581e-054],
       [1.00000000e+000, 4.66752238e-187],
       [1.00000000e+000, 5.01408158e-155],
       [1.00000000e+000, 6.04375734e-120],
       [1.00000000e+000, 2.66439079e-212],
       [9.99999999e-001, 1.02686795e-009],
       [1.00000000e+000, 4.45859112e-050],
       [1.00000000e+000, 8.38498402e-147],
       [1.00000000e+000, 2.92021856e-118],
       [1.00000000e+000, 1.46065247e-149],
       [1.00000000e+000, 1.87983046e-123],
       [1.00000000e+000, 2.88767563e-146],
       [1.00000000e+000, 4.47430163e-143],
       [1.00000000e+000, 2.94640389e-174],
       [1.00000000e+000, 2.63679923e-170],
       [1.00000000e+000, 8.46602810e-050],
       [1.00000000e+000, 0.00000000e+000],
       [1.00000000e+000, 1.11803576e-015],
       [1.00000000e+000, 1.34747127e-092],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.94429155e-116],
       [1.00000000e+000, 1.92757768e-032],
       [1.00000000e+000, 6.96156893e-028],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 4.37706224e-227],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.38302693e-061],
       [1.00000000e+000, 7.53679791e-033],
       [1.00000000e+000, 2.63817455e-078],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.81317651e-074],
       [1.00000000e+000, 9.15364925e-141],
       [4.59413579e-007, 9.99999541e-001],
       [1.00000000e+000, 5.32141329e-130],
       [1.00000000e+000, 1.86497016e-225],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 6.71564613e-188],
       [1.00000000e+000, 7.50209930e-209],
       [1.00000000e+000, 1.25072790e-126],
       [1.00000000e+000, 2.28633506e-092],
       [1.00000000e+000, 6.51525185e-048],
       [1.00000000e+000, 2.60383628e-110],
       [1.00000000e+000, 1.15318106e-083],
       [1.00000000e+000, 2.01187657e-108],
       [9.99960633e-001, 3.93670319e-005],
       [1.53860754e-005, 9.99984614e-001],
       [1.00000000e+000, 2.68705770e-087],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.77383488e-262],
       [9.99999993e-001, 7.18878936e-009],
       [1.00000000e+000, 4.61268035e-258],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 5.95519391e-056],
       [1.00000000e+000, 1.62310866e-162],
       [1.00000000e+000, 6.83114708e-017],
       [1.00000000e+000, 7.28729155e-186],
       [1.00000000e+000, 6.71566003e-211],
       [1.00000000e+000, 4.01092219e-019],
       [1.00000000e+000, 1.07708959e-047],
       [1.00000000e+000, 1.29812704e-024],
       [1.00000000e+000, 3.97647466e-155],
       [1.00000000e+000, 5.05554316e-273],
       [1.00000000e+000, 6.40027840e-047],
       [1.00000000e+000, 3.19623070e-153],
       [1.00000000e+000, 6.47689787e-104],
       [1.00000000e+000, 3.11944918e-017],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 5.61415991e-192],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 4.31222527e-179],
       [1.00000000e+000, 9.46358722e-151],
       [1.00000000e+000, 2.05529434e-191],
       [1.00000000e+000, 3.54920083e-230],
       [1.00000000e+000, 2.47548183e-164],
       [1.00000000e+000, 3.53806675e-077],
       [1.00000000e+000, 2.56384090e-095],
       [1.00000000e+000, 2.73772800e-180],
       [1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.64294020e-156],
       [1.00000000e+000, 1.20784655e-251],
       [1.51279373e-008, 9.99999985e-001],
       [1.00000000e+000, 4.30850512e-055],
       [1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 6.01218702e-041],
       [6.24142636e-006, 9.99993759e-001],
       [1.00000000e+000, 5.47654835e-019],
       [1.00000000e+000, 1.75839840e-076],
       [1.00000000e+000, 9.01058505e-248],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.55648650e-043],
       [1.00000000e+000, 1.70394473e-195],
       [1.00000000e+000, 1.34319696e-067],
       [2.40474307e-013, 1.00000000e+000],
       [1.00000000e+000, 2.15119361e-044],
       [1.00000000e+000, 1.80617156e-226],
       [1.00000000e+000, 1.82407823e-085],
       [1.00000000e+000, 6.17741606e-185],
       [1.00000000e+000, 5.75991063e-169],
       [1.00000000e+000, 3.00571081e-090],
       [1.00000000e+000, 4.26452637e-212],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 2.66154626e-209],
       [1.00000000e+000, 1.03733678e-172],
       [1.00000000e+000, 2.86196515e-089],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.89704608e-204],
       [5.80245932e-006, 9.99994198e-001],
       [1.00000000e+000, 7.52693284e-084],
       [1.00000000e+000, 1.61074843e-198],
       [1.00000000e+000, 2.38079939e-182],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.03718713e-217],
       [1.00000000e+000, 9.47204163e-165],
       [1.00000000e+000, 8.12964675e-213],
       [1.00000000e+000, 1.53629362e-117],
       [1.00000000e+000, 1.21180888e-260],
       [1.00000000e+000, 1.15415224e-216],
       [1.00000000e+000, 3.88735808e-144],
       [1.00000000e+000, 1.05290995e-167],
       [1.00000000e+000, 1.35372998e-054],
       [1.00000000e+000, 1.31602225e-133],
       [1.00000000e+000, 4.60275701e-172],
       [1.00000000e+000, 9.02680941e-172],
       [1.00000000e+000, 1.38270355e-157],
       [1.00000000e+000, 7.85160404e-281],
       [1.00000000e+000, 0.00000000e+000],
       [1.00000000e+000, 7.18059525e-013],
       [1.00000000e+000, 4.19094019e-062],
       [1.00000000e+000, 4.44823587e-162],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 5.22085192e-019],
       [1.00000000e+000, 1.80433890e-201],
       [1.00000000e+000, 6.00482370e-167],
       [1.00000000e+000, 6.58254484e-012],
       [1.00000000e+000, 2.04869610e-014],
       [9.46041245e-010, 9.99999999e-001],
       [1.00000000e+000, 1.12746325e-108],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 2.02417025e-074],
       [1.00000000e+000, 8.68366532e-041],
       [1.00000000e+000, 3.60125220e-202],
       [1.00000000e+000, 3.39712778e-164],
       [1.00000000e+000, 1.81194634e-234],
       [0.00000000e+000, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.57851196e-128],
       [1.00000000e+000, 2.35934461e-223],
       [1.00000000e+000, 1.49384739e-118],
       [1.00000000e+000, 2.69507868e-078],
       [1.00000000e+000, 4.71474401e-029],
       [1.00000000e+000, 9.53718979e-064],
       [1.00000000e+000, 3.15642512e-140],
       [0.00000000e+000, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.64417655e-073],
       [1.00000000e+000, 2.57164045e-123],
       [1.00000000e+000, 1.17069037e-058],
       [1.00000000e+000, 2.93614938e-152],
       [1.00000000e+000, 5.52157016e-133],
       [1.00000000e+000, 5.67912729e-062],
       [1.00000000e+000, 1.47550717e-052],
       [1.00000000e+000, 3.25320549e-010],
       [1.00000000e+000, 2.22855729e-160],
       [0.00000000e+000, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [9.99999995e-001, 5.13759266e-009],
       [1.00000000e+000, 1.92255943e-151],
       [6.59347164e-005, 9.99934065e-001],
       [1.00000000e+000, 2.15857167e-016],
       [1.00000000e+000, 1.86747687e-209],
       [1.00000000e+000, 6.83748006e-170],
       [1.00000000e+000, 0.00000000e+000],
       [1.00000000e+000, 4.69275745e-131],
       [1.00000000e+000, 1.07560893e-037],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.82231786e-195],
       [1.00000000e+000, 6.90990530e-101],
       [1.00000000e+000, 3.46156002e-150],
       [9.99999999e-001, 8.88114996e-010],
       [1.00000000e+000, 1.04142863e-144],
       [9.99999567e-001, 4.32637087e-007],
       [1.00000000e+000, 7.05053213e-101],
       [1.00000000e+000, 3.97243222e-252],
       [1.00000000e+000, 1.81136001e-131],
       [1.00000000e+000, 1.70438922e-306],
       [1.00000000e+000, 1.31035852e-179],
       [8.90176821e-013, 1.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 3.88318282e-044],
       [1.05311351e-007, 9.99999895e-001],
       [1.53210777e-014, 1.00000000e+000],
       [1.00000000e+000, 5.14405026e-054],
       [1.00000000e+000, 9.90301504e-185],
       [1.00000000e+000, 6.28062427e-149],
       [1.00000000e+000, 9.41127421e-032],
       [1.00000000e+000, 1.08069556e-052],
       [1.00000000e+000, 2.73782569e-010],
       [1.00000000e+000, 1.47922914e-181],
       [1.00000000e+000, 5.43486650e-215],
       [1.00000000e+000, 1.10461642e-229],
       [1.00000000e+000, 2.48670649e-053],
       [1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 1.74236344e-289],
       [1.00000000e+000, 2.72183025e-022],
       [1.00000000e+000, 5.75407469e-114],
       [1.00000000e+000, 3.06079076e-202],
       [1.00000000e+000, 2.09075294e-155],
       [1.14535263e-006, 9.99998855e-001],
       [1.00000000e+000, 7.03442677e-116],
       [1.00000000e+000, 4.89672657e-269],
       [1.00000000e+000, 4.31057087e-078],
       [1.00000000e+000, 5.30587424e-018],
       [1.00000000e+000, 5.01781726e-060],
       [1.00000000e+000, 6.65837704e-118],
       [1.00000000e+000, 8.81327562e-149],
       [0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 2.80106475e-053]])

In [64]:
result = model.predict(X_test) == y_test

In [65]:
# 맞은 비율
np.sum(result)/len(result)

0.8502024291497976

# League Feature를 삭제해보면 어떨까?

In [66]:
X_train.head()

     League   RS   RA    OBP    SLG     BA    G      OOBP      OSLG
592       1  693  597  0.325  0.399  0.265  162  0.332264  0.419743
406       0  686  845  0.328  0.384  0.264  161  0.342000  0.465000
814       1  675  658  0.311  0.359  0.257  162  0.332264  0.419743
270       0  736  743  0.330  0.413  0.268  162  0.327000  0.421000
254       1  761  684  0.332  0.423  0.262  162  0.323000  0.408000

In [67]:
X_train.drop('League',axis=1,inplace=True)
X_test.drop('League',axis=1,inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [68]:
X_train.head()

      RS   RA    OBP    SLG     BA    G      OOBP      OSLG
592  693  597  0.325  0.399  0.265  162  0.332264  0.419743
406  686  845  0.328  0.384  0.264  161  0.342000  0.465000
814  675  658  0.311  0.359  0.257  162  0.332264  0.419743
270  736  743  0.330  0.413  0.268  162  0.327000  0.421000
254  761  684  0.332  0.423  0.262  162  0.323000  0.408000

In [69]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
# X_train 데이터에 맞추고, X_test도 맞춘 model에 select 한다
X_train_drop = sc_X.fit_transform(X_train)
X_test_drop = sc_X.transform(X_test)
warnings.filterwarnings(action='once')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  import sys

In [70]:
from sklearn.linear_model import LogisticRegression
# LogisticRegression Library를 활용해서 모델을 만들어주세요
model = LogisticRegression(random_state=0, solver='liblinear', multi_class='ovr')
model.fit(X_train_drop,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          n_jobs=None, penalty='l2', random_state=0, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [74]:
model.predict(X_test_drop)

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0])

In [158]:
type(np.array(y_test))

numpy.ndarray

In [76]:
np.sum(model.predict(X_test_drop) == y_test) / len(y_test)

0.8582995951417004

-> 조금 올랐다

## Q4. data를 교차검증 해주세요.(10-fold cross_validation)

- 10-fold cross_validation을 위한 인자값을 입력해주세요.
- kfold = selection.KFold("교차검증을 위한 인자 만들기")
- 교차검증 결과를 출력하고 해석합니다.

In [78]:
from sklearn.model_selection import KFold

In [79]:
kf = KFold(n_splits=10,random_state=0)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=0, shuffle=False)

In [80]:
kf.split(X)

In [81]:
total = 0
num = 0
for train_index, test_index in kf.split(X):
    num = num+1
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    model = LogisticRegression(random_state=0, solver='liblinear', multi_class='ovr')
    model.fit(X_train,y_train)
    result = model.predict(X_test) == y_test
    # 모든 fold의 accuacy 합을 구하기
    total = total + np.sum(result)/len(result)

# accuracy mean을 계산해보자.
# 모든 accuracy 합을 개수로 나누기
print(total/num)

0.8774980330448466

### League Feature를 삭제해보면 어떨까?

In [91]:
X.drop('League',axis=1,inplace=True)

In [92]:
total = 0
num = 0
for train_index, test_index in kf.split(X):
    num = num+1
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    model = LogisticRegression(random_state=0, solver='liblinear', multi_class='ovr')
    model.fit(X_train,y_train)
    result = model.predict(X_test) == y_test
    # 모든 fold의 accuacy 합을 구하기
    total = total + np.sum(result)/len(result)

# accuracy mean을 계산해보자.
# 모든 accuracy 합을 개수로 나누기
print(total/num)

0.8831694204038814

-> 조금 올랐다. 이유는?

## 6.  Feature Selection
- ref: https://www.kaggle.com/mnassrib/titanic-logistic-regression-with-python

- 중요 Feature를 선택하는 방법입니다.
- Kaggle 자료를 참고하였습니다.
- 내가 만든 모델에서 어떤 변수가 중요한지 한 번 살펴보세요

In [120]:
X.head()

   League   RS   RA    OBP    SLG     BA    G   OOBP   OSLG
0       1  734  688  0.328  0.418  0.259  162  0.317  0.415
1       1  700  600  0.320  0.389  0.247  162  0.306  0.378
2       0  712  705  0.311  0.417  0.247  162  0.315  0.403
3       0  734  806  0.315  0.415  0.260  162  0.331  0.428
4       1  613  759  0.302  0.378  0.240  162  0.335  0.424

In [121]:
from sklearn.feature_selection import RFE

cols = ["BA", "League", "OOBP", "OSLG", "RA", "RS", "SLG"]
X = data[cols]
y = data['Playoffs']

# Build a logreg and compute the feature importances
model = LogisticRegression()
# create the RFE and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(X, y)
# summarize the selection of the attributes
print('Selected features: %s' % list(X.columns[rfe.support_]))

Selected features: ['OSLG', 'RA', 'RS']

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

중요 Feature를 3개 정도 뽑아봤는데
Batting Average가 포함되지 않았다. 신기하다.

## 확실히 득점, 실점 스코어가 크게 연관이 있다.
Rs: (Runs Scored) 득점 스코어를 의미하는구나 
RA: (Runs Allowed) 실점스코어를 의미하는구나
Opponent Slugging Percentage (OSLG)

# 그러면 scaling을 했을 때는? -> 동일하게 나온다

In [123]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
warnings.filterwarnings(action='once')

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

In [124]:
total = 0
num = 0
for train_index, test_index in kf.split(X):
    num = num+1
#     print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    model = LogisticRegression(random_state=0, solver='liblinear', multi_class='ovr')
    model.fit(X_train,y_train)
    result = model.predict(X_test) == y_test
    total = total + np.sum(result)/len(result)

# accuracy mean을 계산해보자.
# 이렇게 계산하는게 맞나요?!?!?!
print(total/num)

0.8766850249147652

In [125]:
len(X_train),len(y_train)

(1109, 1109)

In [126]:
from sklearn.feature_selection import RFE

# Build a logreg and compute the feature importances
model = LogisticRegression()
# create the RFE and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(X_train, y_train)
# summarize the selection of the attributes
print('Selected features: %s' % list(X.columns[rfe.support_]))

Selected features: ['League', 'OSLG', 'RA']

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [128]:
len(rfe.support_)

7

In [129]:
X.columns[rfe.support_]

Index(['League', 'OSLG', 'RA'], dtype='object')

## Q. How to calculate Odds ratio?
## Odds Ratio는 각 Coef_를 e 제곱 해주면 된다.

https://stackoverflow.com/questions/38646040/attributeerror-linearregression-object-has-no-attribute-coef

In [130]:
model.fit(X, y)
model.coef_

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[-0.01307594,  0.00790457, -0.02705128, -0.03298225, -0.03250142,
         0.02834823, -0.00785103]])

In [137]:
model.coef_

array([[-0.01307594,  0.00790457, -0.02705128, -0.03298225, -0.03250142,
         0.02834823, -0.00785103]])

In [138]:
X.columns

Index(['BA', 'League', 'OOBP', 'OSLG', 'RA', 'RS', 'SLG'], dtype='object')

In [139]:
list(X.columns)

['BA', 'League', 'OOBP', 'OSLG', 'RA', 'RS', 'SLG']

In [140]:
model.coef_.tolist()[0]

[-0.013075936706568,
 0.00790456537012466,
 -0.027051276153694622,
 -0.032982253417956534,
 -0.0325014156142505,
 0.028348225365259494,
 -0.007851030036228071]

## Odds Ratio 확인하기

#### Odds Ratio는 e^(B0+ B1X1 + B2X2 +...)에서 한 변수만 e^(B0 + B1(X1+1) + B2X2) 로 1을 늘린 것이므로 약분하면 e^B1 즉, e를 늘린 변수의 계수 제곱 한 것이다

In [144]:
model.coef_

array([[-0.01307594,  0.00790457, -0.02705128, -0.03298225, -0.03250142,
         0.02834823, -0.00785103]])

In [145]:
import math
# Odds ratio 확인하기
for d in zip(list(X.columns), model.coef_.tolist()[0]):
    print(d) # 컬럼 이름과 계수
    print(d[0],' Odds ratio: ', math.exp(d[1])) # 즉 계수의 e 제곱이다.

('BA', -0.013075936706568)
BA  Odds ratio:  0.9870091819478494
('League', 0.00790456537012466)
League  Odds ratio:  1.0079358889256063
('OOBP', -0.027051276153694622)
OOBP  Odds ratio:  0.9733113325832962
('OSLG', -0.032982253417956534)
OSLG  Odds ratio:  0.9675557302438197
('RA', -0.0325014156142505)
RA  Odds ratio:  0.9680210794859012
('RS', 0.028348225365259494)
RS  Odds ratio:  1.028753860243598
('SLG', -0.007851030036228071)
SLG  Odds ratio:  0.9921797088036322

In [142]:
X.head()

      BA  League   OOBP   OSLG   RA   RS    SLG
0  0.259       1  0.317  0.415  688  734  0.418
1  0.247       1  0.306  0.378  600  700  0.389
2  0.247       0  0.315  0.403  705  712  0.417
3  0.260       0  0.331  0.428  806  734  0.415
4  0.240       1  0.335  0.424  759  613  0.378

## 축하드립니다. 여러분은 이제 로지스틱 모델을 구현하실 수 있게 되었습니다!